section.intro {
  margin-bottom: 2rem;
  padding: 3rem 1rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: $medium) {
    h2 {
      font-size: 2.5rem;
      line-height: 1.6;
      margin-bottom: 1.75rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

.product-list {
  padding: 3rem 0;

  .grid-container {
    background-color: $mediumgray;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  article {
    background-color: $white;
    border-bottom: 1px solid $mediumgray;
    flex-basis: 100%;
    margin-bottom: .25rem;
    padding: 1rem;

    & > ul {
      display: flex;
      list-style: none;
      margin: 0 -.5rem 1rem;
      padding: 0;

      li {
        padding: .5rem;
      }
    }

    figure {
      & > img {
        display: block;
        margin-bottom: 2rem;
      }

      figcaption {
        text-align: center;

        h4 {
          font-size: 1.25rem;

          @media screen and (min-width: $small) {
            font-size: 1.5rem;
          }
        }

        .rating {
          align-items: center;
          display: flex;
          font-size: .95rem;
          justify-content: center;

          img {
            display: inline-block;
            margin-right: .5rem;
            width: 3rem;
          }
        }

        .price {
          font-size: 1.25rem;
          font-weight: bold;
        }

        ul.actions {
          display: flex;
          list-style: none;
          margin: 2rem 0 1.5rem;
          padding: 0;
          visibility: hidden !important;
          width: 100%;

          li {
            flex-basis: 50%;
          }

          button {
            background-color: $mediumgray;
            border: 0;
            font-size: .9rem;
            padding: .75rem .75rem;
            text-transform: uppercase;
            width: 100%;

            i.fa {
              margin-right: .5rem;
            }

            &.quick-view {
              background-color: $primary;
              color: $white;
            }
          }
        }
      }
    }

    &:hover {
      ul.actions {
        visibility: visible !important;
      }
    }

    @media screen and (min-width: $small) {
      padding-left: 0;
      padding-right: 0;
    }

    @media screen and (min-width: $medium) {
      border-bottom: 0;
      flex-basis: calc(50%);
      padding: 1rem;

      &:nth-child(odd) {
        padding-left: 0;
      }

      &:nth-child(even) {
        border-left: 1px solid $mediumgray;
        padding-right: 0;
      }


      &:nth-last-child(3) ~ article {
        margin-bottom: 0 !important;
      }
    }

    @media screen and (min-width: $large) {
      flex-basis: calc(100%/3);
      padding: 1rem !important;

      &:nth-child(even) {
        border-left-width: 0;
      }

      &:nth-child(3n + 1) {
        padding-left: 0 !important;
      }

      &:nth-child(3n + 3) {
        padding-right: 0 !important;
      }

      &:nth-child(3n + 2) {
        border-left: 1px solid $mediumgray !important;
        border-right: 1px solid $mediumgray !important;
        border-width: 0 1px;
      }

      &:nth-last-child(4) ~ article {
        margin-bottom: 0 !important;
      }
    }
  }
}

.features {
  background-color: $mediumgray;
  padding: 3rem 0;

  .feature-container {
    position: relative;
  }

  .split-img {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 37.5%;

    aside {
      max-width: 320px;
      padding: 1rem;

      * {
        color: $white;
      }

      i.fa {
        font-size: 2rem;
      }

      h4 {
        color: $primary;
        margin-top: .5rem;
      }
    }

    @media screen and (min-width: $large) {
      width: 39%;
    }

    @media screen and (min-width: $xlarge) {
      width: 42%;
    }
  }

  .blocks {
    h4 {
      color: $primary;
      font-size: 1.5rem;
      margin-top: .5rem;
    }

    i.fa {
      font-size: 2rem;
    }

    & > div {
      border: 1px solid transparent;
      padding-top: .5rem;
      padding-bottom: .5rem;
      margin-bottom: 1.5rem;
      transition: all .4s;

      &:hover {
        border: 1px solid $primary;
      }
    }
  }

  @media screen and (min-width: $small) {
    h3 {
      font-size: 2.5rem;
    }

    .blocks {
      p {
        font-size: .9rem;
      }

      & > div {
        &:nth-child(2) ~ div {
          margin-bottom: 0;
        }
      }
    }
  }
}

.stripe-carousel {
  margin-bottom: 2rem;
  padding: 3rem 1rem;

  .slider {
    * {
      color: $white;
    }
  }

  .tns-nav {
    text-align: center;
    margin-top: 5rem;

    & > [aria-controls] {
      width: 9px;
      height: 9px;
      padding: 0;
      margin: 0 5px;
      border-radius: 50%;
      background: rgba($lightgray, .2);
      border: 0;
    }

    & > .tns-nav-active { background: $primary; }
  }

  h3 {
    padding-top: 2rem;
    position: relative;

    i.fa {
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }

  p {
    font-size: .9rem;
    margin: 0 auto 1.5rem;
    max-width: 600px;
    text-align: left;
  }

  @media screen and (min-width: $medium) {
    h3 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

.featured-product {
  margin: 5rem 0;
  padding: 3rem 1rem;

  .bg-media {
    margin-bottom: 1rem;
    width: 100%;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: $medium) {
    padding: 3rem 1rem 5rem;

    .bg-media {
      position: absolute;
      top: 0; bottom: 0; left: 0;
      width: 47.5%;

      .video-container {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
      }
    }

    h3 {
      font-size: 2.75rem;
      line-height: 1.6;
    }
  }
}