
$primary: #70bf51;
$secondary: #18aa97;

$blue: #1ca2d9;
$darkblue: #034f66;
$salmon: #ff7467;

$header-color: #37803A;

$form-border: #eaeaea;

$error: #c60f13;
$warning: #ffae00;
$success: #5da423;

$lightblue: #bdc1d7;
$white: #fff;
$black: #000;
$black-bg: rgba($black, .7);
$darkgray: #757776;
$mediumgray: #f5f5f5;
$lightgray: #fcfcfc;


$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;