main > section {
  position: relative;
}

section.hero {
  align-items: center;
  color: $white;
  display: flex;
  height: 80vh;
  min-height: 400px;
  margin-bottom: 5rem;
  padding: 5rem 0;
  position: relative;

  h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 0;

    & + p {
      color: $white;
      font-weight: 200;
      padding: 1rem 1.5rem;

      & + a {
        text-transform: uppercase;
      }
    }
  }

  &:before {
    background-color: rgba($black, .7);
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  & > .container {
    position: relative;
    z-index: 1;
  }

  @media screen and (min-width: $medium) {
    h1 {
      font-size: 6rem;
      margin-bottom: 1rem;

      & + p {
        font-size: 1.5rem;

        & + a {
          margin-top: 5rem;
        }
      }
    }
  }
}

.video-container {
  position: relative;

  video {
    height: auto !important;
    width: 100% !important;
  }

  .cover {
    background: url('/images/how-to-wear-the-shapeshift-iwb-holster.jpg') no-repeat center center / cover;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;

    i.fa {
      background: transparent;
      content: '\f144';
      color: $white;
      font-family: 'Font Awesome 5 Free';
      font-size: 4rem;
      font-weight: 900;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  &.played {
    &:before, &:after {
      display: none;
    }
  }

  &.iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.headline {
  color: $primary;
  display: block;
  font-size: .75rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.split-img {
  display: none;
  position: absolute;
  top: 0; bottom: 0;
  width: 50%;

  &.right {
    left: auto; right: 0;
  }

  &.left {
    left: 0; right: auto;
  }

  @media screen and (min-width: $medium) {
    display: block;
  }
}

form.product-filters {
  background-color: $mediumgray;
  padding: 2rem 1rem;

  .fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .field {
    align-items: center;
    display: flex;

    &:last-child {
      label {
        margin-bottom: 0 !important;
      }
    }
  }

  label {
    display: inline-block;
    width: 100%;

    &.header {
      align-items: center;
      display: flex;
      font-size: .9rem;
      text-transform: uppercase;
      width: 100px;

      i.fa {
        margin: 0 .5rem;
      }
    }

    &.select {
      position: relative;

      select {
        background-color: $lightgray;
        border: 1px solid $form-border;
        border-radius: 5px;
        font-size: .9rem;
        outline: 0;
        padding: .5rem 3rem .5rem .5rem;
        width: 100%;
      }

      &:after {
        content: '\f107';
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-variant: normal;
        font-weight: 900;
        pointer-events: none;
        position: absolute;
        top: 50%; right: 0;
        text-align: center;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: translateY(-50%);
        width: 2.5rem;
      }
    }
  }

  .filters {
    display: inline-block;
    width: 100%;
  }

  @media screen and (min-width: $small) {
    padding: 1rem;

    .fields {
      flex-direction: row;

      .field:last-child {
        label {
          margin-bottom: .5rem !important;
        }
      }
    }

    label {
      margin-bottom: 0;
    }
  }
}