html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
}

img {
  display: inline-block;
  max-width: 100%;
}

button, select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: $primary;
  transition: all .4s;

  &:hover, &:focus, &:active {
    color: darken($primary, 15%);
    text-decoration: none;
  }
}

a, span {
  display: inline-block;
}

p {
  color: $darkgray;
}