#mobile-menu {
  border-left: 1px solid $mediumgray;

  .mini-nav {
    display: flex;
    list-style: none;
    margin: 0 0 .5rem;
    padding: 0 0 .5rem;
    position: relative;
    width: 100%;

    li {
      flex-basis: calc(100%/3);

      a {
        line-height: 3.5rem;
        text-align: center;
        width: 100%;

        &:hover, &:focus, &:active {
          background-color: $primary;
          color: $white;
        }
      }
    }

    &:after {
      background-color: $mediumgray;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 100%; left: 50%;
      transform: translateX(-50%);
      width: 65%;
    }
  }

  .main-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      padding: 1rem 2rem;
      text-decoration: none;
      width: 100%;

      &:hover, &:focus, &:active {
        background-color: $primary;
        color: $white;
      }
    }
  }
}


header {
  padding: 1rem;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 100;

  a.logo {
    max-width: 300px;
    width: 100%;
  }

  #menu-btn {
    cursor: pointer;
    outline: 0;
    padding: .5rem;
    padding-right: 0;

    .hamburger-box {
      width: 2rem;
    }

    .hamburger-inner {
      &, &:before, &:after {
        background-color: $white;
        height: 2px;
        width: 2rem;
      }
    }

    @media screen and (min-width: $small) {
      .hamburger-box {
        width: 40px;
      }

      .hamburger-inner {
        &, &:before, &:after {
          width: 40px;
        }
      }
    }
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .main-nav, .mini-nav {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0 .75rem;

        a {
          color: $white;
          white-space: nowrap;

          @media screen and (min-width: $small) {
            font-size: .9rem;
          }

          @media screen and (min-width: $medium) {
            font-size: 1rem;
          }
        }
      }
    }

    .main-nav {
      li {
        &:first-child,
        &:first-child + li {
          a {
            font-weight: bold;
          }
        }
      }
    }

    .mini-nav {
      padding-left: 1rem;

      li {
        padding: 0 1rem;

        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}